/*@import "bootstrap";
ul{
	padding:0;
	margin:0 0 10px 25px;
}*/
@font-face {
  font-family: 'fonts3';
  src: url("../fonts3/fonts/fonts3.eot");
  src: url("../fonts3/fonts/fonts3.eot?#iefix") format("embedded-opentype"), url("../fonts3/fonts/fonts3.woff") format("woff"), url("../fonts3/fonts/fonts3.ttf") format("truetype"), url("../fonts3/fonts/fonts3.svg#fonts3") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'fonts3';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icons-"] {
*/
.icons-arrow-down, .icons-arrow-right, .icons-arrow-up, .icons-arrow-up-left, .icons-arrow-up-right, .icons-arrow-down-right, .icons-arrow-left, .icons-arrow-down-left, .icons-pencil, .icons-home, .icons-user, .icons-mail, .icons-briefcase {
  font-family: 'fonts3';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icons-arrow-down:before {
  content: "\e000"; }

.icons-arrow-right:before {
  content: "\e001"; }

.icons-arrow-up:before {
  content: "\e002"; }

.icons-arrow-up-left:before {
  content: "\e003"; }

.icons-arrow-up-right:before {
  content: "\e004"; }

.icons-arrow-down-right:before {
  content: "\e005"; }

.icons-arrow-left:before {
  content: "\e006"; }

.icons-arrow-down-left:before {
  content: "\e007"; }

.icons-pencil:before {
  content: "\e008"; }

.icons-home:before {
  content: "\e009"; }

.icons-user:before {
  content: "\e00a"; }

.icons-mail:before {
  content: "\e00b"; }

.icons-briefcase:before {
  content: "\e00c"; }

html {
  background: url(../img/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; }

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  background-color: transparent;
  font-size: 16px;
  height: 100%;
  padding: 0;
  margin: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0; } }
h1, h2 {
  border: none;
  color: #66544c;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.mas {
  display: table !important; }

.no-mas {
  display: none !important; }

section {
  margin-bottom: 0; }

a {
  text-decoration: none; }

a:-webkit-any-link {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: inherit; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

section {
  box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 12px 0px inset; }

.wrap {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

@media (min-width: 1018px) {
  .wrap {
    width: 1000px; } }
.size {
  display: table;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%; }

.cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.menu-toggle {
  z-index: 110;
  text-align: left;
  width: 75px;
  text-align: center;
  font-size: 44px;
  line-height: 1.5;
  cursor: pointer;
  background: rgba(84, 145, 252, 0.9);
  transition: all .25s;
  padding: 20px 25px; }

.menu-toggle:hover {
  background: #5491fc; }

.menu-toggle span {
  border: 2px solid rgba(255, 255, 255, 0.7);
  display: block;
  width: 100%;
  margin-bottom: 5px; }

.menu-container {
  position: fixed;
  z-index: 500;
  width: 75px;
  text-align: center; }

.menu {
  display: none; }

.menu [class*="icons"] {
  display: block; }

.menu ul li {
  margin-bottom: 1px; }

.menu a {
  font-size: 20px;
  display: block;
  padding: 20px 0;
  background: white;
  color: black;
  transition: color .2s;
  -webkit-transition: color .2s; }

.menu a:hover {
  color: #5491fc; }

/*ul,ol{padding:0;margin:0 0 10px 25px;}*/
.arrows {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.5);
  /*#66544c*/
  font-size: 40px;
  width: 41px;
  transition: all .25s; }

.down {
  bottom: 5px; }

.up {
  top: 5px; }

a.arrows:hover {
  color: #fff;
  border-bottom: none; }

@media (min-width: 785px) {
  .arrows {
    font-size: 60px;
    width: 61px; }

  .down {
    bottom: 15px; }

  .up {
    top: 15px; } }
@media (max-height: 700px) {
  .arrows {
    font-size: 40px;
    width: 41px; } }
.test {
  background: rgba(108, 37, 111, 0.75); }

.test .cell {
  text-align: left; }

.test img {
  float: left;
  margin-right: 20px; }

.test p {
  color: #FFF;
  font-size: 20px;
  background: purple;
  padding: 50px; }

.billboard h1 {
  font-size: 55px;
  margin: 0;
  line-height: .75;
  font-weight: normal; }

.billboard h2 {
  font-size: 28px;
  line-height: 1; }

@media (min-width: 544px) {
  .billboard h1 {
    font-size: 90px; }

  .billboard h2 {
    font-size: 38px; }

  .billboard h1, .billboard h2 {
    margin: 0;
    line-height: 1; } }
.clse {
  font-weight: bold;
  cursor: pointer;
  font-size: 41px;
  color: white;
  float: right;
  border: 4px solid;
  border-radius: 100px;
  height: 55px;
  width: 55px;
  line-height: 1.1;
  padding-left: 10px;
  position: absolute;
  right: 0;
  top: -70px; }

input[type="submit"].btns {
  position: relative;
  background: #49976B;
  border: none;
  color: #fff;
  display: block;
  margin: auto;
  padding: 10px 0;
  width: 100%;
  border-bottom: 8px solid #3D7E59; }

input[type="submit"].btns:active {
  margin-top: 14px;
  border-bottom: 4px solid #3D7E59;
  background: #51a877; }

.profile img {
  margin-bottom: 10px;
  max-width: 100%; }

.profile p {
  margin: auto; }

.profile a {
  font-weight: bold;
  color: #fff;
  border-bottom: 2px dotted #fff; }

.profile p {
  color: white;
  font-size: 20px;
  line-height: 1.5; }

@media (min-width: 544px) {
  .profile img {
    margin-bottom: 20px;
    max-width: 100%; }

  .profile p {
    font-size: 36px; } }
.work-grid img {
  width: 100%; }

.work-grid .colspan-4 {
  cursor: pointer; }

.case .thumb img {
  display: none;
  box-shadow: rgba(0, 0, 0, 0.34) 0px 0px 22px 6px;
  width: 100%; }

.case h1 {
  font-size: 30px;
  line-height: 1.5;
  color: white;
  margin-bottom: 20px;
  margin-top: 0; }

.case p {
  font-size: 18px;
  margin-bottom: 30px; }

.case p a {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid; }

.case ul {
  margin-bottom: 20px; }

.case ul li {
  display: inline;
  font-weight: bold;
  font-size: 20px; }

.case .btns {
  background: #fff;
  color: #FF2F2F;
  font-weight: bold;
  padding: 15px 20px;
  display: inline-block; }

@media (min-width: 767px) {
  .case .thumb img {
    display: block; } }
.case .redesign li {
  display: block;
  margin-bottom: 13px; }

.case .redesign li a {
  color: #fff;
  border-bottom: 2px solid; }

.cntct-form h2 {
  font-size: 75px;
  line-height: 1;
  margin: 0; }

.cntct-form input[type="text"] {
  height: 50px;
  color: #fff; }

.cntct-form textarea {
  height: 100px;
  color: #fff; }

.cntct-form textarea, input[type="text"] {
  border-radius: 0;
  width: 100%;
  padding: 10px;
  background: #616161;
  border: none;
  margin-bottom: 0; }

.cntct-form #ty {
  display: none;
  color: #61b284; }

.cntct-form .error {
  display: none;
  padding: 10px;
  margin: 0 0 5px 0;
  color: #D8000C;
  font-size: 12px;
  background-color: #FFBABA; }

.cntct-form .success {
  display: none;
  padding: 10px;
  color: #044406;
  font-size: 12px;
  background-color: #B7FBB9; }

@media (min-width: 518px) {
  .cntct-form form.wrap {
    width: 500px; }

  .cntct-form h2 {
    font-size: 157px; } }
[class*='colspan-'] {
  float: none;
  left: auto;
  margin-right: 0;
  width: 100%;
  margin-bottom: 3%; }

.grid-row {
  margin-bottom: 0; }

.grid-row:last-of-type {
  margin-bottom: 0; }

@media (min-width: 700px) {
  .grid-row {
    margin-bottom: 3%; }

  [class*='colspan-'] {
    position: relative;
    left: 1.5%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 3%;
    margin-bottom: 0; }

  [class*='colspan-']:last-of-type {
    margin-right: 0; }

  .colspan-1 {
    width: 5.33333%; }

  .colspan-2 {
    width: 13.66667%; }

  .colspan-3 {
    width: 22%; }

  .colspan-4 {
    width: 30.33333%; }

  .colspan-5 {
    width: 38.66667%; }

  .colspan-6 {
    width: 47%; }

  .colspan-7 {
    width: 55.33333%; }

  .colspan-8 {
    width: 63.66667%; }

  .colspan-9 {
    width: 72%; }

  .colspan-10 {
    width: 80.33333%; }

  .colspan-11 {
    width: 88.66667%; }

  .colspan-12 {
    width: 97%; }

  .grid-row:after {
    content: "";
    display: table;
    clear: both; } }
.about {
  background: rgba(43, 164, 245, 0.46); }

.work {
  background: #8D8A8A;
  background-image: url(../img/grey_wash_wall.png);
  /*padding:100px 40px;*/ }

.work-grid {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 100px;
  padding-bottom: 100px; }

@media (max-height: 700px) {
  .work-grid {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0; } }
.details {
  display: none;
  background: #FF2F2F;
  text-align: left;
  color: white;
  top: 0;
  z-index: 100;
  height: 100%; }

.tableDisplay {
  display: table !important; }

.details .cell {
  text-align: left; }

.contact {
  background: #333;
  background-image: url(../img/dark_fish_skin.png); }

.blog {
  background: #fff; }

@media (max-height: 700px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px; } }
