.work{
	background:#8D8A8A;
	/*padding:100px 40px;*/
}
.work-grid{
	padding-left: 40px;
	padding-right: 40px;
	padding-top:100px;
	padding-bottom:100px;
}
@media (max-height: 700px){
	.work-grid{
		padding-top:0;
		padding-bottom:0;
	}
}

