/*.article-index{
  text-align:left !important;
}*/

/*.article-roll{
	background: #F8F8F8;
padding: 20px 40px;
}*/
.article-roll{
	text-align:left;
}
.blog h2{
  font-size: 24px;
  margin: 0;
  text-align:left;
}
.article-index li a{
	color: rgba(84, 145, 252, 0.9);
  font-size:19px;
}
.article-index li {
	background: #F8F8F8;
  margin-bottom: 5px;
  padding-left: 10px;
}
.post-date{
  color: #666;
  padding:5px 10px;
  background:#ccc;
font-size: 13px;
float:right;
}
@media (min-width:718px) {
.article-index.wrap{
	width:700px;
}
}
