
.article-index{
	text-align:left;
}
.article-index .colspan-11{
padding: 0 20px;
background:#fff;
}
.article-index li{
	/*background: #F8F8F8;*/
  margin-bottom: 5px;
	padding: 0 10px;
}
.article-index li a{
	color: rgba(84, 145, 252, 0.9);
  font-size:19px;
	font-size:1.9rem;
	/*line-height: 2.7;*/

	display:block;
}
.article-index [class*='colspan-'] {
	float:none;
}
@media (min-width:718px) {
.article-index.wrap{
	width:700px;
}
} 
