.name a{
position: fixed;
margin-left: 50px;
left: 27px;
background: #fff;
color: rgb(127, 127, 128);
padding: 17px;
font-size: 22px;
z-index: 1000;
text-align: left;
}
.name span{
	font-size:.9em;
	color: #DFDFDF;
	font-style:italic;
}