.profile img{
	margin-bottom: 10px;
	max-width:100%;
}
.profile p {
  margin-left: auto;
	margin-right: auto;
}
.profile a {
font-weight: bold;
color: #fff;
border-bottom: 2px dotted #fff;
}
.profile p {
  color: white;
  font-size: 16px;
	line-height:1.5;
	text-align:justify;
}
@media (min-width: 544px){
.profile.wrap{
	width:400px;
	position:relative;
	top: -43px;
}
.profile img{
	margin-bottom: 20px;
	max-width:100%;
}
}

